.sidebar_holder{
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(102, 51, 153, 0.676),rgba(0, 0, 255, 0.574));
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  border-radius: 20px;
  margin-top: 1rem;
}
.navigators{
  width: 80%;
  border: 2px solid black;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
  color: white;
  cursor: pointer;
}
.navigators:hover{
  color: black;
  background-color: white;
}